body {
     
}

#widgets {
    padding-top: 30px;
}

#recentBeerWidget {
    min-height: 16vw;
}

#currentBeerWidget {
    min-height: 16vw;
    max-height: 16vw;
}

#banner {
    padding-bottom: 400px;
}
.chart-container {
    
}
