<!DOCTYPE html>
<html>
<head>
    <title>Beer Page</title>
    <meta charset="utf-8" />
    <link href="../css/beerPage.css" rel="stylesheet" />
</head>
<body>
    <h1 class="h1">{{Beer.Name}}</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6 " id="progressbar">
                <div class="progress progress-striped active" style="height:100px">
                    <div class="progress-bar" ng-style="progress"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="clock"></div>
            </div>
        </div>
        <div id="charts" class="row">
            <div><!--</div><div class="col-md-9">-->
                <div id="temperatureChart"></div>
            </div>
            <!--<div class="col-md-2 col-md-offset-1">
                <div class="row">
                    <div id="temperatureGauge"></div>
                </div>
                <div class="row">
                    <div id="pumpGauge"></div>
                </div>
            </div>-->
        </div>
    </div>

</body>
</html>
