<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Naslovnica</title>
    <link href="../css/homePage.css" rel="stylesheet" />
</head>
<body>
    <h1>Homepage</h1>
    <div class="col-lg-12">
        <div id="banner" class="row">Banner</div>
        <div class="row "></div>
        <div id="widgets" class="row">
            <div class="col-lg-6 col-lg-offset-0">
                <div id="recentBeerWidget" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Recent Beers</h3>
                    </div>
                    <div class="panel-body">Pive</div>
                </div>
            </div>
            <div class="col-lg-6 col-lg-offset-0">
                <div id="currentBeerWidget" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" ng-if="currentBeer != null">Pivo u izradi: {{currentBeer.name}}</h3>
                        <h3 class="panel-title" ng-if="currentBeer == null">Trenutno nema piva u izradi</h3>
                    </div>
                    <div>
                        <div class="col-sm-6">
                            <!--<div class="chart-container">
                                <canvas id="doughnut" class="chart chart-doughnut" chart-data="progress" chart-options="options"></canvas>
                            </div>-->
                            <div id="container"></div>
                        </div>
                        <div id="info" class="col-sm-5 col-sm-offset-1 text-center">
                            <div class="row">
                                <h3> Početak:</h3>
                            </div>
                            <div class="row">
                                <h4>{{currentBeer.startDate | date:'dd-MM-yyyy'}}</h4>
                            </div>
                            <div class="row">
                                <h3>Kraj:</h3>
                            </div>
                            <div class="row">
                                <h4>{{currentBeer.endDate | date:'dd-MM-yyyy'}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>