
<div class="col-md-6 col-md-offset-3">
    <div ng-show="!viewModel" class="sp-loading">
        Loading...
    </div>
    <h2 class="text-center">Login</h2>
    <form class="form-horizontal" ng-hide="accepted || !viewModel" ng-submit="submit()">
        <div class="form-group" ng-repeat="field in viewModel.form.fields">
            <label for="sp-{{field.name}}" class="col-xs-12 col-sm-4 control-label">{{field.label}}</label>
            <div class="col-xs-12 col-sm-8">
                <input class="form-control" name="{{field.name}}" id="sp-{{field.name}}" type="{{field.type}}" ng-model="formModel[field.name]" placeholder="{{field.placeholder}}" ng-disabled="posting" ng-required="field.required">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <p class="text-danger" ng-show="error" ng-bind="error"></p>
                <button type="submit" class="btn btn-primary" ng-disabled="posting">Login</button>
                <!--<a href="/forgot" class="pull-right">Forgot Password</a>-->
            </div>
        </div>
        <div class="form-group" ng-show="viewModel.accountStores.length">
            <div class="col-sm-offset-4 col-sm-4">
                <p>Or login with:</p>
                <button ng-repeat="accountStore in viewModel.accountStores" type="button" class="btn btn-social btn-{{accountStore.provider.providerId}}" sp-social-login="{{accountStore.provider.providerId}}" sp-client-id="{{accountStore.provider.clientId}}" sp-scope="{{accountStore.provider.scope}}">
                    {{providerName}}
                </button>
            </div>
        </div>
    </form>
</div>
